body{ 
    background-color: #5fbfeb;
    font-size: 20px;
    font-family: math, Arial;
}

nav a{ 
    text-decoration: none;
    background-color:#5fbfeb;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
 list-style-type: none;

}   

.current{
    text-transform: capitalize;
    border-bottom: 4px solid blue;
}
