    background-color: lightsteelblue;
    font-family: Arial, SANS-SERIF, Verdana, Times;
    font-size: large;

li{
 display: inline-block;
    width: 24%;
    text-align: center;
    height: 95px;
    background: lightskyblue;
    line-height: 95px;
}
